/* ---------------------------reset--------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e1ded5;
  margin: 0rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  align-self: stretch;
}
/* ---------------------------reset--------------------------- */

a {
  text-decoration: none;
  list-style: none;
}

ul {
  list-style: none;
}

/* INDEX */
.index {
  margin: 5%;
}

.titel {
  margin-bottom: 20px;
}

.titel a {
  font-size: 8.5vw;
  color: #431c76;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.titel p {
  font-size: 3.5vh;
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: italic;
  color: #080942;
}

.index_menu a {
  color: #6a4395;
  font-size: 3.5vh;
  font-family: "Hind Madurai", sans-serif;
}

.index_menu a:hover {
  color: #b297cf;
}

/* NAVBAR */
header {
  position: sticky;
  top: 0;
  padding: 3rem 5%;
  display: flex;
  justify-content: space-between;
  background-color: #e1ded5;
  z-index: 10;
  align-items: baseline;
}

.logo a {
  font-size: 6vh;
  color: #431c76;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.3rem;
  gap: 100px;
  overflow-x: auto;
}

.menu a {
  display: block;
  color: #6a4395;
  font-size: 3.5vh;
  font-family: "Hind Madurai", sans-serif;
}

.menu a:hover {
  color: #b297cf;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

/* KATEGORI */
.kategori {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.kat_titel h1 {
  font-size: 5.5vh;
  color: #431c76;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
}

.grid_3-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
}

.kat_button {
  padding: 1.5em;
  background-color: #d6d0cf;
  border: 0.09em solid #6a4395;
  border-radius: 25px;
  font-size: 3vh;
  font-family: "Hind Madurai", sans-serif;
}

.kat_button:hover {
  background-color: #b297cf;
  color: #3b1967;
  transition: 0.3s;
  border: 0.09em solid #431c76;
}

/* PRODUKTLISTE */

.produktliste {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.prod_titel h1 {
  font-size: 5.5vh;
  color: #431c76;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
}

.grid_3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 290px));
  gap: 2.5rem;
  margin-bottom: 50px;
}

.prod_list {
  margin-bottom: 20px;
  font-family: "Hind Madurai", sans-serif;
  color: #080942;
}

.prod_list img {
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(8, 9, 66, 0.055);
}

.prod_list h2 {
  margin-top: 10px;
  margin-bottom: 1rem;
}

.discounted {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.procent {
  padding: 0.4em;
  background-color: crimson;
}

.udsolgt img {
  opacity: 0.5;
}

.prod_list .udsolgt::before {
  content: "Sold Out";
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  color: #080942;
  font-weight: 600;
  font-size: 1.3rem;
}

.prod_link {
  color: #080942;
  text-decoration: underline;
  font-weight: 600;
  font-size: 1.2rem;
}

/* PRODUKT */
.produkt {
  margin: 5%;
  font-family: "Hind Madurai", sans-serif;
  color: #080942;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.grid_1-1 img {
  border-radius: 15px;
}

.prod_buttons {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  border-bottom: 2px solid rgba(178, 151, 207, 0.5);
}

.p_button1,
.p_button2 {
  padding: 1.5em;
  background-color: #d6d0cf;
  border: 0.09em solid #6a4395;
  border-radius: 25px;
  font-size: 1.2rem;
  font-family: "Hind Madurai", sans-serif;
  margin-bottom: 40px;
}

.p_button1:hover,
.p_button2:hover {
  background-color: #b297cf;
  color: #3b1967;
  transition: 0.3s;
  border: 0.09em solid #431c76;
}

.shopping h1 {
  font-size: 1.4rem;
  color: #431c76;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
}

.shopping h2 {
  font-size: 2rem;
  color: #431c76;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
}

.pris {
  font-size: 1.2rem;
  margin-bottom: 100px;
}

.info {
  margin-top: 60px;
}

.info h3 {
  margin-top: 100px;
}

ol {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 100px;
}
